<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon_list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'server/amazon/bootstrap.min.css' %}">
</head>
<body>
<div class="alert alert-dismissible alert-warning">
    <p class="mb-0">empty</p>
</div>
<div class="alert alert-dismissible alert-warning">
    <p class="mb-0">Amazon 사이트로 직접 가고 싶다면 <a href="https://www.amazon.com/Best-Sellers-Home-Kitchen-Bedroom-Furniture/zgbs/home-garden/1063308/ref=zg_bs_unv_hg_3_3733101_1" class="alert-link">여기를 클릭하세요</a>.</p>
</div>
<div class="card border-primary mb-3" style="max-width: 20rem; margin:auto;">
    <div class="card-header" style="text-align: center;">Selected Category</div>
    <div class="card-body">
        <h4 class="card-title" style="text-align: center;">{{ Category }}</h4>
        {% if object_list.exists %}
        <p class="card-text" style="text-align: center;">Parent Category : {{ Parent_Category }}</p>
        {% endif %}
    </div>
</div>
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">AmazonRank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">대분류<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <div style="text-align: center;">Furniture</div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../Bedroom Furniture/">Bedroom Furniture</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">중분류<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <div style="text-align: center;">Bedroom Furniture</div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../Beds, Frames & Bases/">Beds, Frames & Bases</a>
                        <a class="dropdown-item" href="../Bedroom Armoires/">Bedroom Armoires</a>
                        <a class="dropdown-item" href="../Dressers/">Dressers</a>
                        <a class="dropdown-item" href="../Mattresses & Box Springs/">Mattresses & Box Springs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">소분류1<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <div style="text-align: center;">Beds, Frames & Bases</div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../Bases & Foundations/">Bases & Foundations</a>
                        <a class="dropdown-item" href="../Bed Frames/">Bed Frames</a>
                        <a class="dropdown-item" href="../Beds/">Beds</a>
                        <a class="dropdown-item" href="../Headboards & Footboards/">Headboards & Footboards</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">소분류2<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <div style="text-align: center;">Mattresses & Box Springs</div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../Box Springs/">Box Springs</a>
                        <a class="dropdown-item" href="../Mattress & Box Spring Sets/">Mattress & Box Spring Sets</a>
                        <a class="dropdown-item" href="../Mattresses/">Mattresses</a>
                        <a class="dropdown-item" href="../Waterbed Mattresses/">Waterbed Mattresses</a>
                        <a class="dropdown-item" href="../Mattress Toppers/">Mattress Toppers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Main</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Navbar
================================================== -->

<ul>
    {% if object_list.exists %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <th scope="row">{{ item.Rank }}</th>
                <td>{{ item.Name }}</td>
                <td>{{ item.Brand }}</td>
                <td>{{ item.Date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No data</h3>
    {% endif %}
</ul>
<script src="{% static 'server/amazon/js/jquery.min.js' %}"></script>
<script src="{% static 'server/amazon/js/popper.min.js' %}"></script>
<script src="{% static 'server/amazon/js/bootstrap.min.js' %}"></script>
<script src="{% static 'server/amazon/js/custom.js' %}"></script>
</body>
</html>