<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link href="{% static 'server/bootstrap/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
<body>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Crawling</h1>
            <p class="lead text-muted">Amazon, App Rank - update at 10 am(kr)</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src = "{% static 'img/Amazon.jpg' %}" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text text-center">Amazon Bed Rank</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" style="margin:auto" onclick="location.href='/amazon/Bedroom Furniture/select'">View Rank</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src = "{% static 'img/AppRank.jpg' %}" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text text-center">App Rank in Aos, Ios</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" style="margin:auto" onclick="location.href='/gevolution/Aos/select'">View Rank</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Not Ready</text></svg>
                        <div class="card-body">
                            <p class="card-text text-center">Not Ready</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" style="margin:auto">View Rank</button>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Not Ready</text></svg>
                        <div class="card-body">
                            <p class="card-text text-center">Not Readyk</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" style="margin:auto">View Rank</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Not Ready</text></svg>
                        <div class="card-body">
                            <p class="card-text text-center">Not Ready</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" style="margin:auto">View Rank</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Not Ready</text></svg>
                        <div class="card-body">
                            <p class="card-text text-center">Not Ready</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" style="margin:auto">View Rank</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'server/js/jquerymin.js' %}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'server/js/jqueryslim.js' %}"><\/script>')</script>
<script src="{% static 'server/js/bootstrapbundle.js' %}" crossorigin="anonymous"></script>
</body>
</html>